
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    color: red;
    text-shadow: 2px 2px 10px red;
}

p {
    color: white;
    text-shadow: 1px 1px 5px gray;
    font-size: 18px;
}

img {
    margin-top: 20px;
    border: 3px solid red;
    box-shadow: 0 0 20px red;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.container div {
    background-color: #330000;
    border: 1px solid red;
    width: 300px; 
    height: auto; 
    margin: 10px; 
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px red;
    padding: 15px; 
    box-sizing: border-box;
}

.container div:hover {
    background-color: red;
    color: black;
    cursor: pointer;
}

.container-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 -5px 10px rgba(255, 0, 0, 0.5);
    z-index: 1000; 

.container-bottom .container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.container-bottom .container div {
    width: 200px; 
    height: auto;
    margin: 10px; 
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
}

